
body {
    font-family: 'Nunito Sans', sans-serif;
    color:#404040;
    background: #E9E9E9;
}

p {
    font-size:20px;
}

a {
    color: #404040;   
}

a:hover {
    text-decoration: none;
    color:#404040;
}

.nav-style {
    color:#fff;
    background: transparent;
    transition: all 0.25s ease;
}

.nav {
    color: #fff;
}

.after-header {
    background: #000000;
}

.nav-menu {
    padding-top: 10px;
    font-size: 25px;
    letter-spacing: .5px;
    text-transform: uppercase;
    list-style: none;
}

@media (min-width:48em) {
    .nav-menu li {
        display: inline;
    }
}
.nav:hover {
    color: #C71F1F;

}

#header-bg {
    background: url(media/programming2.jpg) no-repeat;
    background-position: center top;
    background-size: cover;
    height: 600px;
    padding: 240px 10% 0px 10%;
}

.header {
    text-align: center;
    color: #fff;
}

#name {
    font-size: 60px;
}

.parallax {
    background: url(media/parallax.jpg) no-repeat top center fixed;
    background-size: cover;
    height: 300px;   
    margin: 0;
    padding 0;
    color:#fff;
    text-align: center;

}

.content {
    padding: 30px 50px 30px 50px;
}

.box-spacer {
    padding-top: 15px;
}

.content-box {
    background:#E9E9E9;
    height: 100%;
    padding-top: 10px;
    box-shadow: -1px 2px 4px;
}

@media only screen and (max-width: 500px) {
    .nav-menu {
        font-size: 20px;
    }
    
    #name {
        font-size: 40px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 15px;
    }
}
